<main class="main">
  <div class="container box">
    <button class="btn shadow p-3 mb-5 bg-body-tertiary rounded" type="button" (click)='getContacts()'>Get Contacts</button>
    <div class="wrapper" *ngIf="contacts">
      <ul class="contacts">
        <li class="contact" *ngFor="let contact of contacts">
          <div class="user-data">
            <h3 class="title-name">{{contact.firstname}} {{contact.lastname}}</h3>
            <div class="info">
              <p class="text age">{{contact.age}} y. o.</p>
              <p class="text"><span class="before-text">Phone: </span> <a class="link" [href]="('tel: contact.phone')">{{contact.phone}}</a></p>
              <p class="text"><span class="before-text">Email: </span> <a class="link" [href]="('mailto: contact.email')">{{contact.email}}</a></p>
              <p class="text"><span class="before-text">Balance: </span> ${{contact.balance}}</p>
            </div>
          </div>
          <figure class="avatar">
            <img class="image" [src]="contact.avatar" [alt]="contact.firstname">
          </figure>
        </li>
      </ul>
      <p class="total">Total contacts: {{total}}</p>
    </div>
  </div>
</main>

