* {
    box-sizing: border-box;
}
ul {
  padding-left: 0;
}

ul,
h3 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}

.box {
  font-family: "Raleway", sans-serif;
  color: #546676;
  text-align: center;
  .btn {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #2c2b2b;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    background: #337ab7;
    cursor: pointer;
    border: 2px solid #bfe2ff;
    outline: 1px solid;
    outline-color: #337ab7;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .btn:hover,
  .btn:active,
  .btn:focus {
    box-shadow: inset 0 0 20px #bfe2ff;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    color: #434141;
  }

  .wrapper {
    text-align: center;
    .contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      justify-items: left;
      gap: 45px;
      margin-bottom: 40px;
      .contact {
        list-style: none;
        background-image: linear-gradient(
          -205deg,
          hsla(45, 78%, 93%, 0.6),
          rgba(223, 247, 251, 0.6)
        );
        text-align: center;
        overflow: visible;
        position: relative;
        margin-bottom: 70px;
        padding: 28px 2px;
        width: 48.296%;
        height: 300px;
        .user-data {
          .title-name {
            margin-bottom: 15px;
            color: #514e4e;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            font-weight: 800;
          }
          .age {
            font-weight: 500;
          }
          .text {
            font-family: "Roboto", sans-serif;
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 1.33;
            letter-spacing: 0.03em;
            color: #52506d;
            &:last-child {
              margin-bottom: 0;
            }
            .before-text {
              font-weight: 500;
               color: #3d3a60;
            }
          }
        }
        .link {
            color: #352d5f;
            &:hover,
            &:focus {
                color: #6e62a8;
            }
        }
        .avatar {
          width: 100px;
          height: 100px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -50px;
          .image {
            border-radius: 50%;
          }
        }
      }
    }
    .total {
        font-size: 26px;
    }
  }
}
